@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="margin-top: 100px;">
    <h1 class="display-4">Welcome</h1>
    <p>INFOTRACK interview test.</p>

    <a class="btn btn-primary mt-4" href="/Search/Index">Start Search</a>
</div>