@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    You can also read the official InfoTrack Privacy Policy here: <br />
    <a href="https://www.infotrack.com.au/wp-content/uploads/InfoTrack-AU-Privacy-Policy-7-December-2023.pdf" target="_blank">
        View PDF Privacy Policy
    </a>
</p>